<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo Basic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <form action="/add" method="post">
                <div>
                    <label>Новая задача: </label>
                    <input type="text" name="name">
                    <button type="submit">Добавить</button>
                </div>
            </form>

            <ul>
            {% for task in tasks %}
            <li>{{ task['name'] }} <a href="/delete/{{ task['id'] }}">Удалить</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>